{% load static %}
<section class="hamburger-menu">
	<div class="hamburger_close_btn">
		<h4 class="close_btn_txt">Close</h4>
		<div class="close__btn">			
			<div></div>
			<div></div>
		</div>
	</div>
	<div class="logo">
		<img src="{% static 'images/LOGO-cropped.png' %}" style="display: block;width: 400px; height: 400px; margin-left: 100px;margin-top: 100px;">

	</div>
	<div class="desktop content__container">	
		<ul class="nav-links">
			<li><a href="/about">About</a></li>
			<li><a href="/packages">Packages</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="/#footer">contact us</a></li>
		</ul>
		<div class="other_links_container">
			<div class="other__links">
				<a href="{{ faq_link }}">FAQ</a>
				<div class="other_links_socials">
					<a href="#">Facebook</a>
					<a href="#">Instagram</a>
					<a href="#">twitter</a>
				</div>
			</div>
		</div>
	</div>

<!-- 	<div class="mobile content__container">	
		<ul class="nav-links">
			<li><a href="/about">About</a></li>
			<li><a href="/packages">Packages</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<div class="other_links_container">
			<div class="other__links">
				<a href="/about#faq">FAQ</a>
				<div class="other_links_socials">
					<a href="#">Facebook</a>
					<a href="#">Instagram</a>
					<a href="#">twitter</a>
				</div>
			</div>
			
		</div>
	</div> -->
	<div id="mobile-menu-overlay" class="fixed inset-0 bg-black/95 z-[100] transform -translate-y-full transition-transform duration-500 ease-in-out md:hidden">
         <div class="bg-white mx-4 mt-9 rounded-tl-2xl rounded-bl-2xl shadow-lg relative h-auto max-h-[calc(100vh-64px)]">
            <div class="flex flex-col p-6">
               <div class="flex justify-end items-center mb-10">
                  <span class="text-gray-700 text-lg mr-2">Close</span>
                  <button id="mobile-menu-close-button" class="text-gray-700 p-2 focus:outline-none">
                     <i class="fas fa-times text-2xl"></i>
                  </button>
               </div>

               <nav class="flex flex-col space-y-6 font-saria font-medium text-2xl text-gray-700 uppercase pb-5 mb-4 flex-grow">
                  <a href="./pages/About.html" class="navbar-link hover:text-gray-900 transition-colors duration-200" data-page="About">About Us</a>
                  <a href="./pages/Packages.html" class="navbar-link hover:text-gray-900 transition-colors duration-200" data-page="Packages">Packages</a>
                  <a href="./pages/Blog.html" class="navbar-link hover:text-gray-900 transition-colors duration-200" data-page="Blog">Blog</a>
               </nav>

               <div class="mt-auto pt-16 border-t border-gray-200">
                  <div class="flex flex-row justify-between">
                     <h4 class="text-xl font-bold text-gray-700">FAQ</h4>
                     <div class="flex space-x-6">
                        <a href="#" class="text-gray-700 hover:text-blue-500 transition-colors duration-200">
                           <i class="fab fa-facebook-square text-3xl"></i>
                        </a>
                        <a href="#" class="text-gray-700 hover:text-pink-500 transition-colors duration-200">
                           <i class="fab fa-instagram-square text-3xl"></i>
                        </a>
                        <a href="#" class="text-gray-700 hover:text-gray-500 transition-colors duration-200">
                           <i class="fab fa-twitter text-3xl"></i>
                        </a>
                     </div>
                  </div>

                  <div class="relative bg-black rounded-lg overflow-hidden h-32 flex items-center justify-center">
                     <img src="./assets/images/8983 1.jpg" alt="People working together" class="absolute inset-0 w-full h-full object-cover opacity-70" />
                     <span class="relative z-10 text-white text-xl font-bold">CONTACT US</span>
                  </div>
               </div>
            </div>
         </div>
      </div>
</section>