{% load static %}
<header>
  {% include './navbar.html' %}
  {% include './hamburger-menu.html' with faq_link=faq_link  %}
   <!-- templates/carousel.html -->
  <div class="carousel" id="carousel">
    <div class="carousel-slide" style="background-image: url('{% static 'images/home/carousel/slide1.jpg' %}')"></div>
    <div class="carousel-slide" style="background-image: url('{% static 'images/home/carousel/slide2.jpg' %}')"></div>
    <div class="carousel-slide" style="background-image: url('{% static 'images/home/carousel/slide3.jpg' %}')"></div>

    <div class="carousel-overlay-top"></div>
    <div class="carousel-overlay-bottom"></div>


     <div class="absolute bottom-0 left-0 w-full z-10">
      <h1 class="w-full text-center text-white text-4xl sm:text-7xl md:text-8xl lg:text-[10rem] font-bold tracking-wide px-4 pb-6 drop-shadow-lg font-saira" >
        UnwindAfrica<sup>™</sup>
      </h1>
    </div>
    <div class="carousel-dots" id="carousel-dots"></div>
  </div>
</header>