{% load static %}
<section class="about-layout-1">
  <!-- Desktop Layout -->
  <div class="desktop-layout">
    <div class="desktop-top"><span class="desktop-top-firstTxt">THE</span><span>POWER</span></div>
    <div class="desktop-content">
      <div class="desktop-left">OF</div>
      <!-- <div class="desktop-center"> -->
      <div class="desktop-mid-img">
        <img src='{% static "images/home/about-2.jpg" %}' alt="Relax" class="desktop-img" />
        
      </div>
      <div class="desktop-right">
        <p>
          Inhale calm. Exhale tension.<br />
          Where stillness restores, and joy returns.<br />
          Relax. Reconnect. Rise.
        </p>
      </div>
    </div>
    <div class="desktop-bottom">RELAXING</div>
  </div>

  <!-- Mobile Layout -->
  <div class="mobile-layout">
    <h2 class="mobile-heading">THE POWER OF RELAXATION</h2>
    <div class="mobile-img-container"> 
      <img src='{% static "images/home/about-2.jpg" %}' alt="Relax" class="mobile-img" />
    </div>
    <p class="mobile-text">
      Inhale calm. Exhale tension.<br />
      Where stillness restores, and joy returns.<br />
      Relax. Reconnect. Rise.
    </p>
  </div>
</section>