{% extends 'Web/main.html' %}
{% load static %}
{% block title %} About Us {% endblock %}
{% block content %}
	{% include './partials/header/navbar.html' with theme='dark'%}
	{% include './partials/header/hamburger-menu.html' with faq_link='#faq' %}
	{% load static %}
	<div class="relative w-full  overflow-hidden py-8 bg-white" style="padding-top: 100px;">
	  <!-- Fade edges -->
	  <div class="pointer-events-none absolute top-0 left-0 h-full w-32 bg-gradient-to-r from-white to-transparent z-10"></div>
	  <div class="pointer-events-none absolute top-0 right-0 h-full w-32 bg-gradient-to-l from-white to-transparent z-10"></div>

	  <!-- Scrolling content -->
	  <div class="animate-marquee flex gap-16 w-max">
	    <div class="text-9xl font-saira ">Luxury. Connection. Wellness.</div>
	    <div class="text-9xl font-saira ">Luxury. Connection. Wellness.</div>
	    <div class="text-9xl font-saira ">Luxury. Connection. Wellness.</div>
	    <div class="text-9xl font-saira ">Luxury. Connection. Wellness.</div>
	    <div class="text-9xl font-saira ">Luxury. Connection. Wellness.</div>
	    <div class="text-9xl font-saira ">Luxury. Connection. Wellness.</div>
	  </div>
	</div>
	<!-- <div class="marquee-container pt-16 mx-auto overflow-hidden">
	 <p class="marquee-text font-saira font-semibold text-2xl sm:text-5xl md:text-8xl">Luxury. Connection. Wellness.</p>
	</div> -->
	<div class="container pt-10 py-12 mx-auto px-4">
	 <div class="header">
	    <h2 class="font-saira font-normal text-[30px] md:text-[30px] leading-text tracking-normal mb-20">
	       <span class="font-light text-[15px] mr-3">ABOUT US</span>Unwind Africa curates luxurious, soulful experiences designed to restore calm and celebrate life’s finest moments. From solo escapes to
	       family getaways, our tailored packages offer connection, relaxation, and wellness—because true serenity is not a luxury, but a necessity.
	    </h2>
	 </div>
	 <div class="max-w-7xl mx-auto">
	    <div class="flex flex-col md:flex-row justify-between mb-8">
	       <div class="flex items-center inter-font mb-4 md:mb-0">
	          <h1 class="text-[20px] md:text-[40px] leading-[1] font-bold text-gray-900 mr-4">Our Vision</h1>
	          <!-- <img src="../assets/images/vision 1.jpg" alt="eye icon" class="h-8 md:h-10 object-contain" /> -->
	       </div>
	       <p class="text-lg md:text-xl text-[15px] font-semibold max-w-2xl leading-relaxed text-right md:text-center">
	          Empowering individuals, couples, families, and organizations to <br />prioritize relaxation, self-care, and meaningful connections,<br />
	          fostering a culture of wellness and balance.
	       </p>
	    </div>

	    <div class="w-full rounded-lg overflow-hidden shadow-lg">
	       <img
	          src="{% static './images/about/ransford-quaye-X47o1phzMTU-unsplash.jpg' %}"
	          alt="A happy family enjoying the beach, representing wellness and connection."
	          class="w-full h-auto object-cover rounded-lg"
	       />
	    </div>
	 </div>

	 <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center justify-between gap-8 mt-8">
	    <div class="w-full md:w-1/2 rounded-lg overflow-hidden shadow-lg">
	       <img
	          src="{% static './images/about/olivia-bauso-8qnHYPEKtU0-unsplash 1.jpg' %}"
	          alt="Family standing by the water, looking out at the sea, representing connection and peace."
	          class="w-full h-auto object-cover rounded-lg"
	       />
	    </div>

	    <div class="w-full md:w-1/2 flex flex-col items-center md:items-start text-center md:text-left">
	       <div class="flex items-center justify-center mb-4">
	          <i class="fas fa-bullseye text-4xl md:text-5xl text-gray-900 mr-4"></i>
	          <h2 class="text-3xl md:text-4xl font-bold text-gray-900 leading-tight">Our Purpose</h2>
	       </div>
	       <p class="text-lg md:text-xl text-gray-700 leading-relaxed max-w-xl">
	          Unwind Africa Limited aims to make relaxation and socialization experiences accessible to all, promoting a culture of wellness and balance in our communities.
	       </p>
	    </div>
	 </div>
	 <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center md:items-center justify-between gap-8 mt-8">
	    <div class="w-full md:w-1/2 flex flex-col items-center md:items-start text-center md:text-left">
	       <div class="flex items-center justify-center mb-4">
	          <i class="fas fa-bullseye text-4xl md:text-5xl text-gray-900 mr-4"></i>
	          <h2 class="text-3xl md:text-4xl font-bold text-gray-900 leading-tight">Our Missions</h2>
	       </div>
	       <p class="text-lg md:text-xl text-gray-700 leading-relaxed max-w-xl">
	          Unwind Africa Limited aims to make relaxation and socialization experiences accessible to all, promoting a culture of wellness and balance in our communities.
	       </p>
	    </div>
	    <div class="w-full md:w-1/2 rounded-lg overflow-hidden shadow-lg">
	       <img
	          src="{% static './images/about/dylan-sauerwein-YFItC9nQK7o-unsplash.jpg' %}"
	          alt="Family standing by the water, looking out at the sea, representing connection and peace."
	          class="w-full h-auto object-cover rounded-lg"
	       />
	    </div>
	 </div>

	 <div class="max-w-7xl max-auto bg-white text-white pt-9 pb-4">
	    <h3 class="font-saira text-black text-center font-normal text-[20px] md:text-[40px] leading-[1] py-4">WHY CHOOSE UNWIND AFRICA</h3>
	    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-3 md:gap-8 item-center">
	       <div class="bg-[rgba(80,72,66,1)] py-8 px-6">
	          <h3 class="font-saira font-bold text-[20px] md:text-[32px] leading-[1] pb-3">Personalised Pannning</h3>
	          <p class="font-saira font-light leading-[1] text-[10px] md:text-[20px]">
	             Every journey with us is curated to match your rhythm, your interests, and your lifestyle. From private retreats to custom itineraries, we craft experiences as unique as you are.
	          </p>
	       </div>
	       <div class="bg-[rgba(80,72,66,1)] py-8 px-6">
	          <h3 class="font-saira font-bold text-[20px] md:text-[32px] leading-[1] pb-3">Wellness-Centred</h3>
	          <p class="font-saira font-light leading-[1] text-[10px] md:text-[20px]">
	             Our approach goes beyond relaxation — it's about restoration. We prioritize your physical, emotional, and mental well-being with immersive wellness practices rooted in African
	             traditions and tranquility.
	          </p>
	       </div>
	       <div class="bg-[rgba(174,75,0,1)] py-8 px-6">
	          <h3 class="font-saira font-bold text-[20px] md:text-[32px] leading-[1] pb-3">Lasting Impact</h3>
	          <p class="font-saira font-light leading-[1] text-[10px] md:text-[20px]">
	             Your journey supports local communities and sustainable travel practices. Travel with meaning — leave a footprint of respect, not disruption.
	          </p>
	       </div>
	    </div>
	 </div>

	 <div class="max-w-7xl mx-auto inter-font">
	    <h2 class="text-center inter-font font-semi-bold text-[30px] md:text-[98px]">MEET OUR TEAM</h2>
	    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 md:gap-10">
	       <div class="flex flex-col items-center text-black bg-white pt-7 pb-6 px-4">
	          <img src="{% static './images/about/DSC_0024.jpg' %}" alt="Olajumoke Ogudipe " class="w-full h-28 md:h-auto object-contain" />
	          <h3 class="text-xl md:text-[24px] font-normal mb-2 text-center">Olajumoke Ogudipe</h3>
	          <p class="text-black/90 text-center inter-font text-xs font-normal">Executive Director</p>
	       </div>
	       <div class="flex flex-col items-center text-black bg-white pt-7 pb-6 px-4">
	          <img src="{% static './images/about/IMG-20250517-WA0019 (1).jpg' %}" alt="Grace Henshaw" class="w-full h-28 md:h-auto object-contain" />
	          <h3 class="text-xl md:text-[24px] font-normal mb-2 text-center">Grace Henshaw</h3>
	          <p class="text-black/90 text-center inter-font text-xs font-normal">Life Coaching, Family Life Therapy, Trauma-Informed Management</p>
	       </div>
	       <div class="flex flex-col items-center text-black bg-white pt-7 pb-6 px-4">
	          <img src="{% static './images/about/DSC_0745 1.jpg' %}" alt="Yomi Sodunke " class="w-full h-28 md:h-auto object-contain" />
	          <h3 class="text-xl md:text-[24px] font-normal mb-2 text-center">Yomi Sodunke</h3>
	          <p class="text-black/90 text-center inter-font text-xs font-normal">Media Director</p>
	       </div>
	       <div class="flex flex-col items-center text-black bg-white pt-7 pb-6 px-4">
	          <img src="{% static './images/about/passport Feyikemi (1).jpg' %}" alt="Feyikemi Adeniran " class="w-full h-28 md:h-auto object-contain" />
	          <h3 class="text-xl md:text-[24px] font-normal mb-2 text-center">Feyikemi Adeniran</h3>
	          <p class="text-black/90 text-center inter-font text-xs font-normal">Event Coordinator</p>
	       </div>
	       <div class="flex flex-col items-center text-black bg-white pt-7 pb-6 px-4">
	          <img src="{% static './images/about/be10a6a1f4e9342511bbfedd8949bbfd_0 (2).jpg' %}" alt="Tope Olujobi " class="w-full h-28 md:h-auto object-contain" />
	          <h3 class="text-xl md:text-2xl font-normal mb-2 text-center">Tope Olujobi</h3>
	          <p class="text-black/90 text-center inter-font text-xs font-normal">Relaxation Specialists</p>
	       </div>
	    </div>
	 </div>
	</div>

	<div id="faq" class="max-w-7xl px-4 mx-auto bg-white py-8">
	 <h2 class="text-2xl sm:text-3xl md:text-5xl font-saira font-medium text-center text-gray-900 mb-10">frequently asked questions<br />(FAQ)</h2>

	 <div class="space-y-8 font-saira font-light text-1xl md:text-4xl leading-[1]">
	    <div>
	       <p class="text-2xl font-medium mb-2">What types of experiences does Unwind Africa offer?</p>
	       <p class="font-saira font-light sm:text-xl leading-[1]">
	          Unwind Africa curates personalized wellness, travel, and celebration experiences — from solo escapes and romantic retreats to milestone events and family getaways. Each package is
	          designed to blend luxury with serenity and soulful living.
	       </p>
	    </div>

	    <div>
	       <p class="text-2xl font-medium mb-2">Can I customize my getaway or wellness experience?</p>
	       <p class="font-saira font-light sm:text-xl leading-[1]">
	          Absolutely. We specialize in bespoke services. Whether it's a curated spa package, a scenic destination, or an intimate celebration, our team works closely with you to personalize
	          every detail for a meaningful and memorable experience.
	       </p>
	    </div>

	    <div>
	       <p class="text-2xl font-medium mb-2">How do I book an experience or get in touch with your team?</p>
	       <p class="font-saira font-light sm:text-xl leading-[1]">
	          You can explore packages and request a consultation directly through our website. For personalized bookings, brand partnerships, or inquiries, simply use our contact form or reach
	          out via email or phone — our team will be glad to assist you.
	       </p>
	    </div>
	 </div>
	</div>
{% endblock %}